<main>
    <div class="brd select-button" (click)="toggle()" (blur)="onTouched()">
        <div class="house">
            <fa-icon [icon]="['fas', 'house-user']" size="2x"></fa-icon>
        </div>

        <div class="selected-value">
            <span>{{value}}</span>
        </div>
        <div class="chevrons">
            <fa-icon [icon]="['fas', 'chevron-up']"></fa-icon>
            <fa-icon [icon]="['fas', 'chevron-down']"></fa-icon>
        </div>
    </div>

    <div class="options" #options>
        <div [class]="'a_'+(index+1)+' option'" *ngFor="let item of data | async;let index=index">
            <!-- <input [class]="'option_radio i'+ index" type="radio" name="platform" value="dribbble"
                (mouseenter)="hoverFn(index)"> -->
            <input class="option_radio" type="radio" [name]="item.community" [value]="item.id"
                (click)="onChange($event.target.value);fillSelectedOptionAndResetStyles($event.target.name)">
            <span class="label">{{item.community}}</span>
        </div>
        <div class="option-bg" #bg></div>
    </div>
</main>