:host{
    display: block;
    width: 100%;
}

main{
    height: 60px;
   padding: 0 20px;
    display: flex;
    justify-content:flex-start;
        &>.icon{
            width: 6%;
            display: flex;
            justify-content: center;
            align-items: flex-end;
            padding-bottom: 5px;
            &>ng-tag{
                width: 25px;
                text-align: center;
               
            }
        }
        &>.input-section{
            width: 100%;
            display: flex;
            justify-content: space-between;
            &>.input-div{
                display: flex;
                flex-direction: column;
                width: 11%;
                &>input{
                    width: 100%;
                    max-width: 200px;
                }
                &>nz-date-picker{
                    width: 100%;
                    max-width: 200px;
                }
            }
            &>.button{
                width: 20%;
               
                display: flex;
                justify-content: space-evenly;
                align-items: flex-end;
                &>button{
                    margin-right: 2%;
                    width: 45%;
                    max-width: 120px;
                }
            }
        }
    
    
  
    
}