<main *ngIf="!removeComponentToggle">

    <ng-container [formGroup]="form">
        <div class="icon">

            <nz-tag [nzColor]="iconColor" style="cursor: pointer;" (click)="changeType()">{{index+1}}</nz-tag>
        </div>

        <!-- <nz-tag [nzColor]="'green'" style="width: 25px;text-align: center;">+</nz-tag> -->


        <div class="input-section">
            <div class="input-div">
                <label>name:</label>
                <input nz-input placeholder="name" formControlName="name" />
            </div>

            <div class="input-div">
                <label>Transfer</label>
                <input nz-input type="number" placeholder="Transfer" formControlName="transfer"
                    (keyup)="onAssessTransLogic('transfer')" />
            </div>

            <div class="input-div">
                <label>Date:</label>
                <nz-date-picker nzPlaceHolder="Select Date" formControlName="createdAt">
                </nz-date-picker>

            </div>
            <div class="input-div">
                <label>personal-fund:</label>
                <input nz-input type="number" placeholder="P-fund" formControlName="p"
                    (keyup)="onAssessTransLogic('p')" />
            </div>
            <div class="input-div">
                <label>C-fund:</label>
                <input nz-input type="number" placeholder="C-fund" formControlName="c"
                    (keyup)="onAssessTransLogic('c')" />
            </div>
            <div class="input-div">
                <label>General-money:</label>
                <input nz-input type="number" placeholder="G-money" formControlName="g"
                    (keyup)="onAssessTransLogic('g')" />
            </div>


            <div class="button">
                <button nz-button nzType="primary" (click)="enable()">Edit</button>
                <button nz-button nzType="primary" (click)="remove()">Delete</button>
            </div>

        </div>
    </ng-container>






</main>