<main>

    <section class="input_section">
        <form nz-form [nzLayout]="'inline'" [formGroup]="form">
            <nz-form-item>
                <nz-form-label [nzSpan]="6" nzFor="email">name</nz-form-label>
                <nz-form-control [nzSpan]="14">
                    <input nz-input name="email" type="email" id="email" formControlName="name">
                </nz-form-control>
            </nz-form-item>
        </form>
        <nz-select nzShowSearch nzAllowClear nzPlaceHolder="Select a person">
            <nz-option nzLabel="Jack" nzValue="jack"></nz-option>
            <nz-option nzLabel="Lucy" nzValue="lucy"></nz-option>
            <nz-option nzLabel="Tom" nzValue="tom"></nz-option>
        </nz-select>


    </section>
</main>