<main>
    <section class="command">
        <div>
            <button nz-button nzType="primary" nzSize="large" (click)="addTransaction()">Add Transaction
            </button>
        </div>
        <div>
            <button nz-button nzType="primary" class="submit" nzSize="large" (click)="submit()">Submit
            </button>
            <button nz-button nzType="primary" class="save" nzSize="large">Save
            </button>
        </div>

    </section>

    <section>
        <form [formGroup]="form">
            <ng-container *ngFor="let item of formArray.controls;let index=index">
                <fz-item [formGroup]="item" [index]="index"></fz-item>
            </ng-container>
        </form>
    </section>
</main>