<main>
    <section class="command">
        <div>
            <button nz-button nzType="primary" style="width: 150px;" nzSize="large" (click)="addNewTransaction()">Add
                Transaction
            </button>
        </div>
        <div>
            <span @saveStateTrigger *ngIf="onPolling">{{savePrompt}}</span>
        </div>

        <div>
            <button nz-button nzType="primary" style="width: 150px;" class="submit" nzSize="large"
                (click)="submit()">Submit
            </button>
        </div>
    </section>

    <section>
        <form [formGroup]="form">
            <ng-container *ngFor="let item of formArray.controls;let index=index">
                <fz-item [formGroup]="item" [index]="index" [userTrySubmit]="userTrySubmit"></fz-item>
            </ng-container>
        </form>
    </section>
</main>



<nz-modal [(nzVisible)]="isVisible" [nzTitle]="modalTitle" [nzContent]="modalContent" [nzFooter]="modalFooter"
    (nzOnCancel)="handleCancel()">
    <ng-template #modalTitle>
        <div *ngIf="formArray.valid;else hasError">

            <h5>Confirm to Submit</h5>
        </div>
        <ng-template #hasError>
            <div>
                <h5>Please finish the Table before Submit</h5>
            </div>
        </ng-template>
    </ng-template>
    <ng-template #modalContent>
        <div *ngIf="formArray.valid;else contentHasError">
            Ready to submit, Please click submit button
        </div>
        <ng-template #contentHasError>
            <div>
                You have {{errorCount}} fields need to fix before submit!
            </div>
        </ng-template>
    </ng-template>


    <ng-template #modalFooter>
        <div *ngIf="formArray.valid;else buttonHasError">
            <button nz-button nzType="default" (click)="handleCancel()">return</button>
            <button nz-button nzType="primary" (click)="handleOk()" [nzLoading]="isConfirmLoading">Submit</button>
        </div>
        <ng-template #buttonHasError>
            <button nz-button nzType="default" (click)="handleCancel()">return</button>
        </ng-template>
    </ng-template>
</nz-modal>