<main>
    <section class="command">
        <div>
            <button nz-button nzType="primary" style="width: 150px;" nzSize="large" (click)="addNewTransaction()">Add
                Transaction
            </button>
        </div>
        <div>
            <span @saveStateTrigger *ngIf="onPolling">{{savePrompt}}</span>
        </div>

        <div>
            <button nz-button nzType="primary" style="width: 150px;" class="submit" nzSize="large"
                (click)="submit()">Submit
            </button>
        </div>
    </section>

    <section>
        <form [formGroup]="form">
            <ng-container *ngFor="let item of formArray.controls;let index=index">
                <fz-item [formGroup]="item" [index]="index"></fz-item>
            </ng-container>
        </form>
    </section>
</main>