<main *ngIf="userInfo$ | async as userInfo">
    <app-member-first-login *ngIf="userInfo === 'user';else dashboard"></app-member-first-login>
    <ng-template #dashboard>
        <div class="dashboard" *ngIf="userRecord$ | async as userRecord">
            <nz-row [nzGutter]="12" style="margin-bottom: 32px;">
                <nz-col [nzSpan]="8">
                    <nz-statistic [nzValue]="userInfo.name" [nzTitle]="'Name'"></nz-statistic>
                </nz-col>
                <nz-col [nzSpan]="8">
                    <nz-statistic [nzValue]="userInfo.role" [nzTitle]="'Role'"></nz-statistic>
                </nz-col>
                <nz-col [nzSpan]="8">
                    <nz-statistic [nzValue]="userInfo.address" [nzTitle]="'address'"></nz-statistic>
                </nz-col>
            </nz-row>
            <nz-row [nzGutter]="12" style="margin-bottom: 32px;">

                <nz-col [nzSpan]="10">
                    <nz-statistic [nzValue]=" '$ '+ (userRecord.transBalance | number)!" [nzTitle]="'Balance (AUD)'">
                    </nz-statistic>
                </nz-col>
            </nz-row>
            <nz-row [nzGutter]="12" style="margin-bottom: 32px;">
                <nz-col [nzSpan]="8">
                    <nz-statistic [nzValue]=" '$ '+(userRecord.cBalance | number)!"
                        [nzTitle]="'Community Fund Balance'">
                    </nz-statistic>
                </nz-col>
                <nz-col [nzSpan]="8">
                    <nz-statistic [nzValue]=" '$ '+(userRecord.cDeposit | number)!"
                        [nzTitle]="'Community Fund Deposit'">
                    </nz-statistic>
                </nz-col>
                <nz-col [nzSpan]="8">
                    <nz-statistic [nzValue]="'$ '+(userRecord.cWithdrow | number)!"
                        [nzTitle]="'Community Fund withdrow'">
                    </nz-statistic>
                </nz-col>
            </nz-row>
            <nz-row [nzGutter]="12" style="margin-bottom: 32px;">
                <nz-col [nzSpan]="8">
                    <nz-statistic [nzValue]="'$ '+(userRecord.pBalance | number)!" [nzTitle]="'Personal Fund Balance'">
                    </nz-statistic>
                </nz-col>
                <nz-col [nzSpan]="8">
                    <nz-statistic [nzValue]="'$ '+(userRecord.pDeposit | number)!" [nzTitle]="'Personal Fund Deposit'">
                    </nz-statistic>
                </nz-col>
                <nz-col [nzSpan]="8">
                    <nz-statistic [nzValue]="'$ '+(userRecord.pWithdrow | number)!"
                        [nzTitle]="'Personal Fund withdrow'">
                    </nz-statistic>
                </nz-col>
            </nz-row>


        </div>

    </ng-template>
</main>