<div class="input-div" [ngClass]="{'focus':inputFocusToggle}">
    <div class="icon">
        <fa-icon [icon]="iconType" size="2x"></fa-icon>
    </div>
    <div class="input-container">
        <h5 [ngSwitch]="usernameValidState">
            <span style="padding-left: 10px;" *ngSwitchCase="'default'">{{title}}</span>
            <span style="padding-left: 10px;color: red;" *ngSwitchCase="'warningMessage'">{{message}}</span>
            <span style="padding-left: 10px;color: rgb(101, 190, 41);"
                *ngSwitchCase="'avaiableEmail'">{{message}}</span>


        </h5>
        <input class="input" (focus)="focusFn()" (focusout)="unFocusFn()" [type]="type" [value]="value"
            (input)="onChange($event.target.value); getValue($event.target.value);" (blur)="onTouched()"
            [disabled]="disabled">
    </div>
</div>