<main>
    <form [formGroup]="form" (ngSubmit)="login()">
        <img class="avatar" src="/assets/ARTABANA-Logo.gif">
        <!-- <h2>Welcome</h2> -->
        <fz-auth-input icon="username" title="Username" [warnMessage]="warningMessage.username"
            formControlName="username">
        </fz-auth-input>
        <fz-auth-input icon="password" title="Password" [warnMessage]="warningMessage.password" type="password"
            formControlName="password">
        </fz-auth-input>


        <a class="forgetPassword" href="#">Forgot Password?</a>
        <input type="submit" class="btn" [value]="loginTitle">
        <div class="signup">
            <a class="signup-link" (click)="signup()">Not registered? Create an account</a>
        </div>

    </form>
</main>