<main>

    <div class="control">
        <input nz-input class="filter" placeholder="Filter" nzSize="default"
            (keyup)="onFilteMember($event.target.value)" />
        <button nz-button (click)="isVisible = true">add member</button>
    </div>


    <nz-table #basicTable [nzData]="memberTable$ | async" [nzWidthConfig]="['15%','20%','30%','5%','20%']"
        [(nzTotal)]="total" [(nzPageIndex)]="pageIndex" [nzPageSize]="pageSize"
        (nzQueryParams)="onQueryParamsChange($event)" [nzFrontPagination]="false">
        <thead style="background-color: rgb(35, 98, 77);">
            <tr>
                <th class="title">Member ID</th>
                <th class="title">Name</th>
                <th class="title">Address</th>
                <th class="title">status</th>
                <th class="title">Action</th>
            </tr>
        </thead>
        <tbody class="tbody">
            <tr *ngFor="let data of basicTable.data">

                <td [ngClass]="{'td_empty': data.type}">{{ data.m_id }}</td>
                <td [ngClass]="{'td_empty': data.type}">
                    <div *ngIf="!data.type">
                        <div [hidden]="edit_id === data._id">{{ data.name }}</div>
                        <input [hidden]="edit_id !== data._id" type="text" nz-input [(ngModel)]="editName" />
                    </div>
                </td>
                <td [ngClass]="{'td_empty': data.type}">
                    <div *ngIf="!data.type">
                        <div [hidden]="edit_id === data._id">{{ data.address }}</div>
                        <input [hidden]="edit_id !== data._id" type="text" nz-input [(ngModel)]="editAddress" />
                    </div>

                </td>
                <td [ngClass]="{'td_empty': data.type}"> <span
                        [ngClass]="{active: data.status === 'active',deactived:data.status === 'deactived'}">{{ data.status }}</span>
                </td>
                <td [ngClass]="{'td_empty': data.type}">
                    <div *ngIf="!data.type">
                        <div class="action_div" *ngIf="edit_id === data._id">
                            <button nz-button (click)="confirmEdit()" class="button_confirm">confirm</button>
                            <button nz-button (click)="cancelEdit()" class="button_cancel">cancel</button>
                        </div>
                        <div class="action_div" *ngIf="edit_id !== data._id">
                            <button nz-button (click)="startEdit(data)">edit</button>
                            <button nz-button nz-popconfirm
                                [ngClass]="{button_danger: data.status==='active',button_safe:data.status==='deactived'}"
                                [nzPopconfirmTitle]="'Comfirm to change status to '+ data.name"
                                (nzOnConfirm)="setStatus(data)"
                                (nzOnCancel)="true">{{data.status === 'active'? 'deactive':'active'}}</button>
                        </div>
                    </div>

                </td>
            </tr>
        </tbody>
    </nz-table>
</main>


<nz-modal [nzFooter]="null" [(nzVisible)]="isVisible" nzTitle="Add new member" (nzOnCancel)="isVisible = false"
    (nzOnOk)="addMember()">
    <div class="add_member_div">
        <div class="add_member">
            <form nz-form [nzLayout]="'vertical'" [formGroup]="memberForm" (ngSubmit)="addMember()">
                <div style="display: flex; justify-content: flex-start;">
                    <nz-form-item>
                        <nz-form-label>First Name: </nz-form-label>
                        <nz-form-control nzErrorTip="name is required!">
                            <input nz-input formControlName="firstName" placeholder="First Name" />
                        </nz-form-control>
                    </nz-form-item>
                    <nz-form-item style="padding-left: 20px;">
                        <nz-form-label>Last Name: </nz-form-label>
                        <nz-form-control nzErrorTip="name is required!">
                            <input nz-input formControlName="lastName" placeholder="Last Name" />
                        </nz-form-control>
                    </nz-form-item>
                </div>
                <div>
                    <nz-form-item>
                        <nz-form-label>Address: </nz-form-label>
                        <nz-form-control nzErrorTip="Address is required!">
                            <input nz-input formControlName="address" placeholder="Address" />
                        </nz-form-control>
                    </nz-form-item>
                </div>

                <nz-form-item>
                    <nz-form-control>
                        <button nz-button type="submit" nzType="primary" [disabled]="!memberForm.valid">create</button>
                    </nz-form-control>
                </nz-form-item>
            </form>
        </div>
    </div>
</nz-modal>