h2{
    margin:0;
}

nav{
    display: flex;
    flex-direction: row;
    justify-content: space-between;  
    ul{
        background-color:rgb(255, 232, 202); 
        &>.menu-li{
            font-size: 16px;
            outline: none;
        }
    }
    &>.user{
        display: flex;
        align-items: center;
      
    }
}