<nav>
    <ul nz-menu nzMode="horizontal">
        <li nz-menu-item class="menu-li" [routerLink]="['dashboard-page']" routerLinkActive="active"
            [nzMatchRouter]="true">
            Dashboard
        </li>
        <li nz-menu-item class="menu-li" routerLinkActive="active" [routerLink]="['browse-book-page']"
            [nzMatchRouter]="true">
            Browsing Transactions
        </li>
        <li nz-menu-item class="menu-li" [routerLink]="['new-book-page']" routerLinkActive="active"
            [nzMatchRouter]="true">
            entry Transactions
        </li>
        <li nz-menu-item class="menu-li" [routerLink]="['admin-page']" [nzMatchRouter]="true">
            administration
        </li>

    </ul>
    <div class="user">
        <h2 style="margin-right: 16px;" *ngIf="user$ | async  as user">Welcome! {{ user.name}} </h2>

        <button nz-button nzType="danger" (click)="logOut()">LogOut</button>
    </div>
</nav>