<main>
    <div class="content">
        <h1>Welcome, Config your account before using the book-keeping app</h1>
        <div style="display: flex;flex-direction: column;width: 100%;align-items: flex-start;">
            <h2>Step 1:</h2>
            <h2 class="step">Please link yourself to a existing member setted by community admin:</h2>
        </div>



        <div class="filter">
            <label>Filter:</label>
            <input nz-input type="text" [(ngModel)]="filterValue" (keyup)="memberFilter($event.target.value)">
        </div>

        <nz-table #headerTable [nzData]="table$ | async" [nzPageSize]="1000" [nzScroll]="{ y: '240px' }" class="table"
            [nzShowPagination]="false" [nzWidthConfig]="['200px','600px']" style="height:300px">
            <thead>
                <tr>
                    <th>Name</th>
                    <th>Address</th>
                    <th>link to account</th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let data of headerTable.data">
                    <td>{{ data.name }}</td>
                    <td>{{ data.address }}</td>
                    <td>
                        <button nz-button nz-popconfirm [nzPopconfirmTitle]="'Comfirm to link to '+ data.name"
                            (nzOnConfirm)="linkToMember(data)" (nzOnCancel)="true"
                            nzPopconfirmPlacement="topLeft">Link</button>
                    </td>
                </tr>
            </tbody>
        </nz-table>
        <h2 style="margin-top: 20px;">Step 2:</h2>
        <h2 class="step">if you are not able to find your name in the table, please fill your name below and link to the
            account.</h2>



        <form nz-form [nzLayout]="'vertical'" [formGroup]="form" (ngSubmit)="submitForm()">
            <div style="display: flex; width: 500px; justify-content: flex-start;">
                <nz-form-item>
                    <nz-form-label>First Name: </nz-form-label>
                    <nz-form-control nzErrorTip="First name is Required!">
                        <input nz-input formControlName="firstName" placeholder="input placeholder" />
                    </nz-form-control>
                </nz-form-item>
                <nz-form-item style="padding-left: 20px;">
                    <nz-form-label>Last Name: </nz-form-label>
                    <nz-form-control nzErrorTip="Last name is required!">
                        <input nz-input formControlName="lastName" placeholder="input placeholder" />
                    </nz-form-control>
                </nz-form-item>
            </div>
            <div style="width: 500px; ">
                <nz-form-item>
                    <nz-form-label>Address: </nz-form-label>
                    <nz-form-control [nzErrorTip]="addressError">
                        <input nz-input formControlName="address" placeholder="input placeholder" />
                        <ng-template #addressError>
                            <ng-container
                                *ngIf="form.controls.address.touched && form.controls.address.hasError('required')">
                                Address is Required!
                            </ng-container>
                        </ng-template>

                    </nz-form-control>
                </nz-form-item>
            </div>

            <nz-form-item>
                <nz-form-control>
                    <button nz-button type="submit" nzType="primary" [disabled]="!form.valid">create</button>
                </nz-form-control>
            </nz-form-item>
        </form>



    </div>

</main>